:root {
    --base-color : white;
    --base-variant : #e8e9ed;
    --text-color : #111528;
    --secondary-text : #232738;
    --primary-color : #3a435d;
    --accent-color : #0071ff;
    --vertical-line-color : #000000;
}
.darkmode {
    --base-color : rgba(0, 0, 0, 0.959);
    --base-variant : #101425;
    --text-color : #ffffffc0;
    --secondary-text : #a4a5b8;
    --primary-color : #3a435d;
    --accent-color : #0071ff;
    --vertical-line-color : #ffffffc0;
}

#theme-switch {
   height: 50px;
   width: 50px;
   padding: 0;
   border-radius: 50%;
   background-color: var(--base-variant);
   display: flex;
   justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    float:left;
}
.vertical-line {
    border-left: 2px solid var(--vertical-line-color);
    height: 150px;
    margin: 0 20px;
    display: inline-block;
    
    
}
.profile {
  display: flex;
  align-items: center; /* Aligner les éléments verticalement */
}
pre {
    font-size: 24px;
    font-weight: bold;
}

 